#solve-quiz-container .MuiFormControl-root {
  border: 0;
  margin: 0;
  display: block;
  padding: 0;
  position: relative;
  min-width: 0;
  flex-direction: column;
  text-align: center;
}
.question-container {
  margin: 3% auto;
  display: grid;
  width: 45%;
}
.question-container p {
  text-align: left;
  font-weight: bold;
  font-size: 14pt;
}
#timer {
  position: fixed;
  left: 94%;
  top: 5%;
  font-size: 14pt;
  font-weight: bold;
  min-width: 72px;
  max-width: 72px;
}
#timer p {
  margin: 0;
}
#solve-btn {
  padding: 13px;
  font-weight: bold;
}