#solve-quiz-container .MuiFormControl-root {
  border: 0;
  margin: 0;
  display: block;
  padding: 0;
  position: relative;
  min-width: 0;
  flex-direction: column;
  text-align: center;
}
.question-container {
  margin: 3% auto;
  display: grid;
  width: 45%;
  padding: 18px;
  border: 1px solid silver;
  border-radius: 4px;
}
.question-container p {
  text-align: left;
  font-size: 14pt;
}
#timer {
  position: fixed;
  left: 94%;
  top: 5%;
  font-size: 14pt;
  font-weight: bold;
  min-width: 72px;
  max-width: 72px;
}
#timer p {
  margin: 0;
}
#solve-btn {
  padding: 13px;
  font-weight: bold;
}
.question-text {
  color: #3f51b5;
  font-weight: bold;
}
.question-text-container {
  display: grid;
  grid-template-columns: 5% auto;
}
.marked-answer {
  color: #3f51b5;
  font-weight: 200;
}