#view-quiz-form {
  margin: 4% auto;
}
#quiz-form-container h1 {
  text-align: center;
  margin-top: 4%;
  margin-bottom: 4%;

}
#basic-quiz-info {
  width: 100%;
  display: grid;
  grid-template-columns: 68% 20% 10%;
  grid-column-gap: 1%;
  margin-bottom: 1%;
}