#student-dashboard-categories-container {
  min-width: 280px;
  max-width: 280px;
  margin: 0 auto;
}
#student-dashboard-categories-container h1 {
  text-align: center;
  font-family: 'Lato', sans-serif;
}
#student-dashboard-categories-table {
  min-width: 280px;
  max-width: 280px;
}
#student-dashboard-categories-table .MuiAvatar-root {
  width: 30px;
  height: 30px;
  margin: auto auto;
}
#student-dashboard-categories-table .MuiTableCell-body {
  padding: 7px 0 7px 0;
}
#student-dashboard-categories-table .MuiTableCell-head {
  padding: 10px;
  font-weight: bold;
}